header{
    background-color: #7C894C;
    text-align: left;
    margin-left: 50px;
}body{
    margin: 0;
    background-color:#7C894C;
   
}.inicio{
    background-color: white;
    margin-right: 100px;
    padding: 220px;
    margin-top: 10px; 
    line-height: 30px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}input{
    margin: 20px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #D9E8A1;
    border-style: none;
}select{
    margin: 40px;
    margin-left: 2px;
    border-radius:20px;
    background-color: #D9E8A1;
    border-style: none;
}
