header{
    background-color: #7C894C;
    text-align: left;
    margin-left: 50px;
}body{
    margin: 0;
    background-color:#7C894C;
    margin-top: ;
}.inicio{
    background-color: white;
    margin-right: 100px;
    padding: 220px;
    margin-top: 20px;
}
